In [1]:
import numpy as np
import pandas as pd

In [2]:
dict_data = {'a': 1, 'b': 2, 'c': 3}

print(dict_data)
print(type(dict_data))
print(len(dict_data))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3

In [3]:
sr = pd.Series(dict_data)
print('sr = ', sr)
print('type sr =', type(sr))

sr =  a    1
b    2
c    3
dtype: int64
type sr = <class 'pandas.core.series.Series'>

pd.Series

In [4]:
print('key = \n', dict_data.keys())
print('values =\n', dict_data.values())
print('items =\n',dict_data.items())

key =
 dict_keys(['a', 'b', 'c'])
values =
 dict_values([1, 2, 3])
items =
 dict_items([('a', 1), ('b', 2), ('c', 3)])

In [5]:
print(sr.index)
print(sr.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [6]:
dict_fruit = {1: 'apple', 2: 'banana', 3: 'grape'}
sr_fruit = pd.Series(dict_fruit)
print(sr_fruit)

1     apple
2    banana
3     grape
dtype: object

From list

In [7]:
sr_list = pd.Series(['apple', 'banana', 'Fineapple'],
                    index = [1, 2, 4])
print(sr_list)

1        apple
2       banana
4    Fineapple
dtype: object

In [8]:
print(sr_list.index[0:5])
print(sr_list.values[1])
print(sr_list.items)

Index([1, 2, 4], dtype='int64')
banana
<bound method Series.items of 1        apple
2       banana
4    Fineapple
dtype: object>

In [9]:
sr_lst = pd.Series(['2019-01-02', 3.14, 'ABC', 100, True],
                    index=range(1, 6))
print(sr_lst)

1    2019-01-02
2          3.14
3           ABC
4           100
5          True
dtype: object

In [10]:
print('loc [1:3] :\n', sr_lst.loc[1:3])
print('iloc [1:3] :\n', sr_lst.iloc[1:3])

loc [1:3] :
 1    2019-01-02
2          3.14
3           ABC
dtype: object
iloc [1:3] :
 2    3.14
3     ABC
dtype: object

In [11]:
print(sr_lst.index)
print('-'*75)
print(list(sr_lst.index))

RangeIndex(start=1, stop=6, step=1)
---------------------------------------------------------------------------
[1, 2, 3, 4, 5]

In [12]:
tup_data = ('현용범', '1990-01-01', '남', True)

sr_from_tup = pd.Series(tup_data,
                        index=['이름', '생년월일', '성별', '학생여부'])

print(sr_from_tup)
print(sr_from_tup['생년월일'])

이름             현용범
생년월일    1990-01-01
성별               남
학생여부          True
dtype: object
1990-01-01

In [13]:
print(sr_from_tup.iloc[:2])
print('-'*75)
print(sr_from_tup.loc['이름':'성별'])

이름             현용범
생년월일    1990-01-01
dtype: object
---------------------------------------------------------------------------
이름             현용범
생년월일    1990-01-01
성별               남
dtype: object

In [14]:
print(sr_from_tup[['이름', '학생여부']])

이름       현용범
학생여부    True
dtype: object

In [15]:
tup = ('apple', 'banana','carrot', 'Dates', 'eggplant', 'fig')

sr_tup = pd.Series(tup, index=['A', 'B', 'C', 'D', 'E', 'F'])

In [16]:
print(sr_tup.loc[['C', 'E']])
print('-'*75)
print(sr_tup.iloc[[2, 4]])

C      carrot
E    eggplant
dtype: object
---------------------------------------------------------------------------
C      carrot
E    eggplant
dtype: object

In [17]:
print(sr_tup.loc['B':'E'])
print('-'*75)
print(sr_tup.iloc[1:5])

B      banana
C      carrot
D       Dates
E    eggplant
dtype: object
---------------------------------------------------------------------------
B      banana
C      carrot
D       Dates
E    eggplant
dtype: object

In [18]:
tup_data3 = (4, 5, 6, 7)

sr_data3 = pd.Series(tup_data3,
                        index=['a', 'b', 'c', 'd'])

print(sr_data3)

a    4
b    5
c    6
d    7
dtype: int64

In [19]:
list_data4 = [[10, 20], 20, 30]

sr_data4 = pd.Series(list_data4,
                        index=['kim', 'Park', 'Hong'])

print(sr_data4)

kim     [10, 20]
Park          20
Hong          30
dtype: object

In [20]:
sr1 = pd.Series(range(4, 8),
                index = list('abcd'),
                dtype=np.int16,
                name = 'variable')

sr1

a    4
b    5
c    6
d    7
Name: variable, dtype: int16

In [21]:
dict_type = {
    'kim' : [10, 20],
    'Park' : 20,
    'Hong' : 30
}

sr2 = pd.Series(dict_type)
print(sr2)

kim     [10, 20]
Park          20
Hong          30
dtype: object

DataFrame

In [31]:
dict_data = {
    'math':[94,34,56],
    'english':[35,86,74],
    'gender':['남','남','여'],
    'pass':[True, False, True]
}

print()
df = pd.DataFrame(dict_data,index=['김씨', '이씨', '박씨'])
print(df)

    math  english gender   pass
김씨    94       35      남   True
이씨    34       86      남  False
박씨    56       74      여   True

In [35]:
df_from_list = pd.DataFrame(
    [[90, 85, '남', True],
    [45, 23, '남', False],
    [94, 34, '여', True]],
    columns=['math', 'english', 'gender', 'test'],
    index= ['Jhon', 'Jamy', 'Eric']
)

print(df_from_list)
print()
print(df_from_list.index)
print()
print(df_from_list.columns)

      math  english gender   test
Jhon    90       85      남   True
Jamy    45       23      남  False
Eric    94       34      여   True

Index(['Jhon', 'Jamy', 'Eric'], dtype='object')

Index(['math', 'english', 'gender', 'test'], dtype='object')

In [37]:
df_from_list = pd.DataFrame(
    [[15, '남', '덕영중'],
    [17, '여', '수리중']],
    columns=['나이', '성별', '학교'],
    index= ['Jhon', 'Sarah']
)
print(df_from_list)

       나이 성별   학교
Jhon   15  남  덕영중
Sarah  17  여  수리중

DataFrame 수정

In [38]:
df = pd.DataFrame(
    [[15, '남', '영문중'],
    [17, '여', '예티중']],
    columns=['나이', 'gender', 'school'],
    index=['현용범', '박채린']
)

print(df)

     나이 gender school
현용범  15      남    영문중
박채린  17      여    예티중

In [41]:
df.rename(columns={'나이':'춘추', 'gender':'남녀', 'school':'소속'},
          inplace=True)
print(df)

     춘추 남녀   소속
현용범  15  남  영문중
박채린  17  여  예티중

In [42]:
df.rename(index = {'현용범':'미누', '박채린':'홍다희'}, inplace=True)

print(df)

     춘추 남녀   소속
미누   15  남  영문중
홍다희  17  여  예티중