In [1]:
import numpy as np
import pandas as pd

In [5]:
dict_data = {'a': 1, 'b':2, 'c':3}

print(dict_data)
print(type(dict_data))
print(len(dict_data))
 
print('pd. Series')
sr = pd.Series(dict_data)
print('sr = \n', sr)
print('type sr = ', type(sr))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3
pd. Series
sr =
 a    1
b    2
c    3
dtype: int64
type sr =  <class 'pandas.core.series.Series'>

In [11]:
## pd.Series
print(dict_data)
print('key = \n', dict_data.keys())
print('values = \n', dict_data.values())
print('items = \n', dict_data.items())

print('sr')
sr
print(sr.index)
print(sr.values)

{'a': 1, 'b': 2, 'c': 3}
key =
 dict_keys(['a', 'b', 'c'])
values =
 dict_values([1, 2, 3])
items =
 dict_items([('a', 1), ('b', 2), ('c', 3)])
sr
Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [17]:
'''
1     apple
2    banana
3     grape
'''

dict_data = {1:'apple', 2:'banana', 3: 'grape'}
sr_fruit = pd.Series(dict_data)
print(sr_fruit)
print('sr_fruit index = \n', sr_fruit.index)
print('sr_fruit values = \n', sr_fruit.values)

# From list
sr_list = pd.Series(['apple', 'banana', 'grape'],
                    index = np.arange(1, 4))
print('sr_list = \n', sr_list)

1     apple
2    banana
3     grape
dtype: object
sr_fruit index =
 Index([1, 2, 3], dtype='int64')
sr_fruit values =
 ['apple' 'banana' 'grape']
sr_list =
 1     apple
2    banana
3     grape
dtype: object

In [22]:
print(sr_list)
print(sr_list.index[0:2])
print(sr_list.values[1])
# print(sr.items)

1     apple
2    banana
3     grape
dtype: object
Index([1, 2], dtype='int32')
banana
<bound method Series.items of a    1
b    2
c    3
dtype: int64>

In [34]:
'''
1    2019-01-02
2          3.14
3           ABC
4           100
5          True
'''
sr_from_list = pd.Series(('2019-01-02', 3.14, 'ABC', 100, True),
                         index = range(1, 6))

print(sr_from_list)

sr_from_list[2]
print('loc [1:3] = \n', sr_from_list.loc[1:3])
print('iloc [1:3] = \n', sr_from_list.iloc[1:3])

1    2019-01-02
2          3.14
3           ABC
4           100
5          True
dtype: object
loc [1:3] =
 1    2019-01-02
2          3.14
3           ABC
dtype: object
iloc [1:3] =
 2    3.14
3     ABC
dtype: object

In [33]:
print(list(sr_from_list.index))

[1, 2, 3, 4, 5]

In [42]:
tup_data = ('영인', '2010-05-05', '여', True)

sr_from_tup = pd.Series(tup_data,
                        index = ['이름', '생년월일', '성별', '학생여부'])

print(sr_from_tup)
sr_from_tup['생년월일']
print(sr_from_tup.loc['이름':'성별'])
sr_from_tup.iloc[:2]
print(sr_from_tup[['이름', '학생여부']])

이름              영인
생년월일    2010-05-05
성별               여
학생여부          True
dtype: object
이름              영인
생년월일    2010-05-05
성별               여
dtype: object
이름        영인
학생여부    True
dtype: object

In [ ]:
# Series
'''
A     apple
B    tomato
C    banana
D     melon
E     grape
F      pear
'''
# indexing (iloc, loc)
'''
dtype: object
C    banana
E     grape
'''

# slicing (iloc, loc)
'''
B    tomato
C    banana
D     melon
E     grape
dtype: object
'''

In [47]:
list('ABCDEF')

['A', 'B', 'C', 'D', 'E', 'F']

In [53]:
fruit = ['apple', 'tomato', 'banana', 'melon', 'grape', 'pear']

sr_fruit = pd.Series(fruit,
                     index = list('ABCDEF'))
print(sr_fruit)

## Indexing, iloc, loc
print(sr_fruit.loc[['C', 'E']])
print(sr_fruit.iloc[[2, 4]])

## slicing, iloc, loc
print(sr_fruit.loc['B':'E'])
print(sr_fruit.iloc[1:5])

A     apple
B    tomato
C    banana
D     melon
E     grape
F      pear
dtype: object
C    banana
E     grape
dtype: object
C    banana
E     grape
dtype: object
B    tomato
C    banana
D     melon
E     grape
dtype: object
B    tomato
C    banana
D     melon
E     grape
dtype: object

In [56]:
'''
<class 'pandas.core.series.Series'>
a    4
b    5
c    6
d    7
Name: variable, dtype: int16

kim     [10, 20]
Park          20
Hong          30
dtype: object
'''

sr1 = pd.Series(range(4, 8),
                index = list('abcd'),
                dtype= np.int16,
                name = 'variable')
print(sr1)

dict_type = {
    'kim':[10, 20],
    'Park': 20,
    'Hong': 30
}

sr2 = pd.Series(dict_type)
print(sr2)

a    4
b    5
c    6
d    7
Name: variable, dtype: int16
kim     [10, 20]
Park          20
Hong          30
dtype: object

In [60]:
## DataFrame 

dict_data = {
    'c0':[1,2,3], 'c1':[4, 5, 6], 'c2':[7,8,9],
    'c3':[10, 11, 12], 'c4':[14, 15, 16]
}

print(dict_data)
print()
df = pd.DataFrame(dict_data,
                  index = range(1, 4))
print(df)

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [14, 15, 16]}

   c0  c1  c2  c3  c4
1   1   4   7  10  14
2   2   5   8  11  15
3   3   6   9  12  16

        수학	영어	성별	합격
김씨	90	98	남	True
이씨	80	89	남	False
박씨	70	95	여	True

In [61]:
df_dict = {
    '수학':[90, 80, 70],
    '영어':[98, 89, 95],
    '성별':['남', '남', '여'],
    '합격':[True, False, True]
}

df_from_dict = pd.DataFrame(df_dict,
                            index = ['김씨', '이씨', '박씨'])

print(df_from_dict)

    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True

In [63]:
df_from_list = pd.DataFrame(
    [[90, 98, '남', True],
     [80, 89, '남', False],
     [70, 95, '여', True]],
    columns=['수학', '영어', '성별', '합격'],
    index = ['김씨', '이씨', '박씨']
)

print(df_from_list)
print(df_from_list.index)
print(df_from_list.columns)

    수학  영어 성별     합격
김씨  90  98  남   True
이씨  80  89  남  False
박씨  70  95  여   True
Index(['김씨', '이씨', '박씨'], dtype='object')
Index(['수학', '영어', '성별', '합격'], dtype='object')

In [64]:
'''
	  나이 성별 학교
준서	15	남	덕영중
예은	17	여	수리중
'''

'\n\t  나이 성별 학교\n준서\t15\t남\t덕영중\n예은\t17\t여\t수리중\n'

In [69]:
df = pd.DataFrame(
    [['green', 'M', 13.5, 'class1'],
     ['red', 'L', 15.3, 'class2']]
)

df.columns = ['color', 'size', 'price', 'class']
df.index = range(1, 3)
print(df)

   color size  price   class
1  green    M   13.5  class1
2    red    L   15.3  class2

In [74]:
## DataFrame 수정

df = pd.DataFrame(
    [[15, '남', '영우중'],
     [17, '여', '에티중']],
    columns= ['나이', '성별', '학교'],
    index = ['준서', '은결']
)

print(df)

df.rename(columns= {'나이':'연령', '성별':'남녀'},
          inplace=True)
df.rename(index = {'준서':'학생1', '은결':'학생2'}, inplace=True)

print(df)

    나이 성별   학교
준서  15  남  영우중
은결  17  여  에티중
     연령 남녀   학교
학생1  15  남  영우중
학생2  17  여  에티중

In [17]:
import pandas as pd
import numpy as np
exam_data = {
    '수학': [90, 80, 70],
    '영어': [98, 89, 95],
    '음악': [85, 95, 100],
    '체육':[ 100, 90, 90]
}

df = pd.DataFrame(exam_data,
                  index = ['서준', '우현', '인아'])

print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [20]:
df = pd.DataFrame(exam_data,
                  index = ['서준', '우현', '인아'])

df1 = df
df2 = df.copy()


# print(df.drop(['서준','우현'], axis = 0)) # default axis = 0
print(df.drop(['수학'], axis = 1, inplace=True)) # default axis = 0


print(df)
print(df1)
print(df2)

None
    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90
    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [27]:
df_rename = pd.DataFrame({
    'A':[1, 2, 1, 2],
    'B': '2010-07-20',
    'C': 1.0,
    'D': ['test', 'train', 'test', 'train'],
    'E':'foo'
})

print(df_rename)

df_rename.drop(3, axis = 0, inplace=True)
df_rename.rename(columns= {'A':'Type', 'B':'Date'}, 
                 index = {0:'A', 1:'B'}, inplace = True)
# df_rename.rename(index = {0:'A', 1:'B'}, inplace = True)
df_rename

   A           B    C      D    E
0  1  2010-07-20  1.0   test  foo
1  2  2010-07-20  1.0  train  foo
2  1  2010-07-20  1.0   test  foo
3  2  2010-07-20  1.0  train  foo

   Type        Date    C      D    E
A     1  2010-07-20  1.0   test  foo
B     2  2010-07-20  1.0  train  foo
2     1  2010-07-20  1.0   test  foo

In [ ]:
'''
        Type        Date    C      D    E
A     1  2021-07-20  1.0   test  foo
B     2  2021-07-20  1.0  train  foo
2     1  2021-07-20  1.0   test  foo
'''

In [35]:
exam_data = {
    '수학': [90, 80, 70],
    '영어': [98, 89, 95],
    '음악': [85, 95, 100],
    '체육':[ 100, 90, 90]
}

df = pd.DataFrame(exam_data,
                  index = ['서준', '우현', '인아'])

print(df)
print(df.loc['서준'])
print(df.iloc[1:3])

# df['수학']

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어   음악  체육
우현  80  89   95  90
인아  70  95  100  90

In [44]:
print(df.loc['서준':'우현', ['수학', '음악']])
print(df.iloc[0:2, 1:])

    수학  음악
서준  90  85
우현  80  95
    영어  음악   체육
서준  98  85  100
우현  89  95   90

In [49]:
print(df)

df.set_index('수학', inplace = True)

print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
None
    영어   음악   체육
수학
90  98   85  100
80  89   95   90
70  95  100   90

In [51]:
df_loc = pd.DataFrame([["고기", 4, "사자", "yes", "no"],
                      ["풀", 4, "사슴", "yes", "no"],
                      ["고기", 4, "늑대", "yes", "no"],
                      ["고기", 2, "독수리", "yes", "yes"],
                      ["잡식", 2, "곰", "no", "yes"]],
                     columns =  ["주식", "다리갯수", "이름", "무리생활", "비행"])
df_loc

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes
4  잡식     2    곰   no  yes

In [56]:
'''
 주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes
'''

'''
  주식   이름   비행
0  고기   사자   no
1   풀   사슴   no
2  고기   늑대   no
3  고기  독수리  yes
4  잡식    곰  yes
'''

'''
주식   이름 무리생활
0  고기   사자  yes
2  고기   늑대  yes
3  고기  독수리  yes
'''

print(df_loc)
print()
print(df_loc.loc[0:3, :])
print()
print(df_loc.loc[:, ['주식', '이름', '비행']])
print()
print(df_loc.loc[[0, 2, 3], ['주식', '이름', '무리생활']])

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes
4  잡식     2    곰   no  yes

   주식  다리갯수   이름 무리생활   비행
0  고기     4   사자  yes   no
1   풀     4   사슴  yes   no
2  고기     4   늑대  yes   no
3  고기     2  독수리  yes  yes

   주식   이름   비행
0  고기   사자   no
1   풀   사슴   no
2  고기   늑대   no
3  고기  독수리  yes
4  잡식    곰  yes

   주식   이름 무리생활
0  고기   사자  yes
2  고기   늑대  yes
3  고기  독수리  yes

In [60]:
## Insert, delete

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)

df['국어'] = [62, 77, 59]
df['물리'] = 100

df.loc[3] = ['흥민', 95, 70, 90, 100, 80, 100]

print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
   이름  수학  영어   음악   체육  국어   물리
0  서준  90  98   85  100  62  100
1  우현  80  89   95   90  77  100
2  인아  70  95  100   90  59  100
3  흥민  95  70   90  100  80  100

In [76]:

exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
df.set_index('이름', inplace=True)
df.set_index('수학', append= True, inplace=True)

print(df)

# df.loc['서준', '체육'] = 50
# print(df)

# df.iloc[1, 1] = 70
# print(df)

# df.loc['서준', ['음악', '체육']] = 100, 50

# print(df)
# print(df.T)
# print(df.transpose())

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
       영어   음악   체육
이름 수학
서준 90  98   85  100
우현 80  89   95   90
인아 70  95  100   90

In [88]:
dict_data = {
    'c0':[1,2,3], 'c1':[4, 5, 6], 'c2':[7,8,9],
    'c3':[10, 11, 12], 'c4':[14, 15, 16]
}

print(dict_data)
print()
df = pd.DataFrame(dict_data,
                  index = ['r0', 'r1', 'r2'])
print(df)

df4 = df.sort_index(ascending=False)
print(df4)
# df3 = df.reset_index()
# print(df3)
# new_index = ['r0', 'r1', 'r2', 'r3', 'r4']

# df2 = df.reindex(new_index, fill_value= 0)
# print(df2)

{'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [14, 15, 16]}

    c0  c1  c2  c3  c4
r0   1   4   7  10  14
r1   2   5   8  11  15
r2   3   6   9  12  16
    c0  c1  c2  c3  c4
r2   3   6   9  12  16
r1   2   5   8  11  15
r0   1   4   7  10  14

In [92]:
print(df)
df5 = df.sort_values(by = 'c4', ascending=False)
print(df5)

    c0  c1  c2  c3  c4
r0   1   4   7  10  14
r1   2   5   8  11  15
r2   3   6   9  12  16
    c0  c1  c2  c3  c4
r2   3   6   9  12  16
r1   2   5   8  11  15
r0   1   4   7  10  14

In [96]:
## 사칙연산, Broadcasting
student1 = pd.Series({'국어':100, '영어':80, '수학':90})

print(student1)

student1_per = (student1*100)/200
print(student1_per)

국어    100
영어     80
수학     90
dtype: int64
국어    50.0
영어    40.0
수학    45.0
dtype: float64

In [101]:
student1_pre = pd.Series({'국어':100, '영어':80, '수학':90})
student1_post = pd.Series({'수학':80, '국어':90, '영어':80})

addition = student1_pre + student1_post
subtraction = student1_pre - student1_post
multi = student1_pre*student1_post
division = student1_pre/student1_post

result = pd.DataFrame([addition, subtraction, multi, division],
                      index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result.round(2))

          국어       수학      영어
덧셈    190.00   170.00   160.0
뺄셈     10.00    10.00     0.0
곱셈   9000.00  7200.00  6400.0
나눗셈     1.11     1.12     1.0

In [102]:
! pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
                                              0.0/293.3 kB ? eta -:--:--
                                              0.0/293.3 kB ? eta -:--:--
     -                                        10.2/293.3 kB ? eta -:--:--
     -----                                 41.0/293.3 kB 393.8 kB/s eta 0:00:01
     -------------                        112.6/293.3 kB 819.2 kB/s eta 0:00:01
     -------------------------------------- 293.3/293.3 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\etv\anaconda3\envs\pandas_nb\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\etv\anaconda3\envs\pandas_nb\lib\site-packages (from seaborn) (2.0.1)
Collecting matplotlib!=3.6.1,>=3.1 (from seaborn)
  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     -------------------                      3.7/7.6 MB 120.6 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 122.7 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 81.0 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading contourpy-1.0.7-cp311-cp311-win_amd64.whl (162 kB)
                                              0.0/163.0 kB ? eta -:--:--
     -------------------------------------- 163.0/163.0 kB 9.5 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
                                              0.0/1.0 MB ? eta -:--:--
     ---------------------------------------- 1.0/1.0 MB 62.4 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
                                              0.0/55.4 kB ? eta -:--:--
     ---------------------------------------- 55.4/55.4 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\etv\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Collecting pillow>=6.2.0 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     ---------------------------------------- 2.5/2.5 MB 53.2 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.1->seaborn)
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
                                              0.0/98.3 kB ? eta -:--:--
     ---------------------------------------- 98.3/98.3 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\etv\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\etv\anaconda3\envs\pandas_nb\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\etv\anaconda3\envs\pandas_nb\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\etv\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.0.9 seaborn-0.12.2

In [103]:
import seaborn as sns

In [107]:
titanic = sns.load_dataset('titanic')
print(type(titanic))

print(titanic.head())
print(titanic.shape)

<class 'pandas.core.frame.DataFrame'>
   survived  pclass     sex   age  sibsp  parch     fare embarked  class
0         0       3    male  22.0      1      0   7.2500        S  Third  \
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
(891, 15)

In [ ]:
'''
survived   age     fare      won
0         0  22.0   7.2500   7250.0
1         1  38.0  71.2833  71283.3
2         1  26.0   7.9250   7925.0
3         1  35.0  53.1000  53100.0
4         0  35.0   8.0500   8050.0
'''