In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./auto-mpg.csv', header= None)
print(df.head())
print()
print(df.info())

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [4]:
df_bar = pd.read_csv('./test_bar.txt', sep = '|',header=0)

df_bar

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [5]:
df_tab = pd.read_csv('./test_tab.txt', sep='\t', header=0, index_col=0) 

df_tab

Empty DataFrame
Columns: []
Index: [C1  1  2  3  4, C2  5  6  7  8, C3  1  3  5  7]